<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button default-href="#" slot="start" text="Atrás"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-content [fullscreen]="true" class="ion-padding">
    <div class="ion-text-center">
      <h2>CONOCIMIENTOS</h2>
    </div>

   <ul>
    <li>JavaScript</li>
    <li>HTML</li>
    <li>Bootstrap</li>
    <li>CSS</li>
    <li>Manejo de Base de Datos</li>
    <li>Php</li>
    <li>Word</li>
    <li>Excel</li>
    <li>PowerPoint</li>
    <li>Formateo de Computadoras</li>
   </ul>

  </ion-content>
</ion-content>
