<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button default-href="#" slot="start" text="Atrás"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-content [fullscreen]="true" class="ion-padding">
    <div class="ion-text-center">
      <h2>DATOS PERSONALES</h2>
    </div>

    <p>
    <strong> Nombre y apellido:</strong> Abel Alexander Ellen Mollesaca<br>
    <strong> Edad:</strong> 23 <br>
    <strong> Lugar de nacimiento:</strong> Trujillo - La Libertad <br>
    <strong> Nacionalidad:</strong> Peruana <br>
    <strong> Lugar de residencia:</strong> Maipu - Chile <br>
    <strong> Rut:</strong> 25.589.972-4 <br>
    <strong> Correo electronico:</strong> Abel.250.96@gmail.com <br>
    <strong> Numero telefonico:</strong> 987456123
    </p>

  </ion-content>
</ion-content>