<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button default-href="#" slot="start" text="Atrás"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-content [fullscreen]="true" class="ion-padding">
    <div class="ion-text-center">
      <h2>FORMACION ACADEMICA</h2>
    </div>

    <p>
      <strong> Educación Universitaria:</strong> IP - CHILE “Ingeniería informática”<br>
      <strong> Educación Técnica:</strong> IP - CHILE “Técnico Analista Programador Computacional”<br>
      <strong> Educación Secundaria:</strong> I.E. José Andrés Razuri - Puerto Malabrigo. <br>
      <strong> Educación Primaria:</strong>	I.E. P Víctor Manuel Ciudad Ávila - Puerto de Malabrigo. <br>
    </p>

  </ion-content>
</ion-content>
