<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button default-href="#" slot="start" text="Atrás"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-content [fullscreen]="true" class="ion-padding">
    <div class="ion-text-center">
      <h2>OBJETIVO</h2>
    </div>

    <p>
      Aporte profesional en las distintas áreas que me permita poner en práctica mi experiencia y conocimiento, altamente responsable y con excelentes relaciones interpersonales; asumiendo lo indicado con demasiada responsabilidad en beneficio de la industria y/o empresa.  
    </p>

  </ion-content>
</ion-content>