img{
  width: 150px;
}
.contenedor-p{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 10px;
  
}
h1{
  text-align: center;
}
.subtitulo{
  margin: auto;
  font-size: 18px;
}
.redessociales{
text-align: center;
}
.redessociales ion-button{
  width: 150px;
}